:root{
    --pallete_black: #2C2521;
    --pallete_pink: #FF547D;
    --pallete_red: #E80002;
    --pallete_orange: #FE6800;
    --pallete_cyan: #0083FB;
    --pallete_gray: #928075;
    --body_background: rgba(217, 217, 217, 0.24);
}

body {
    background-color: #fff;
}

/* Estilização da navbar */

a#link_produto{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

font {
    margin: 0;
}

header{
    background-color: #fff;
    height: 15vh;
}

nav{
    background-color: #fff;
    height: 14vh;
    width: 90%;
    margin-left: 5%;
    padding-top: 1.5%;
    padding-right: 5%;
    border: none;
}

div.nav-wrapper a.brand-logo {
    height: 7vh;
    width: 7vh;
    background-image: url(../images/logo-apple.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-left: 2%;
}

div.nav-wrapper a i {
    color: #000;
}

div.nav-wrapper ul li a {
    color: var(--pallete_black);
    font-size: 1.9rem;
}

/* Estilização do banner inicial */

section#banner {
    background-color: var(--body_background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

div.banner_background{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 80%;
    border-radius: 20px;
    padding-top: 5%;
    padding-left: 7%;
}

div.banner_background h1 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
}

div.banner_background h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* Estilização da Sobre/About */

section#about{
    width: 100%;
    height: 70vh;
}

section#about div.content {
    background-color: var(--pallete_cyan);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#about div.content section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.texto {
    font-size: 3em;
    width: 70%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
}

.texto span {
    font-weight: bold;
}

section#about img {
    width: 100%;
    height: 30%;
}

/* Estilização da seção Produtos */

section#produtos {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#produtos div.title {
    width: 100%;
    height: 12vh;
    background-color: var(--pallete_pink);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}

section#produtos div.title h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
    font-weight: 500;
}

div.card_produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body_background);
    width: 30vw;
    height: 30vw;
    margin-bottom: 10vh;
    border-radius: 20px;
}

div.card_produto img {
    width: 80%;
    max-height: fit-content;
}

/* Estilização da seção de contato */

section#contato {
    width: 100%;
    height: 70vh;
    background: linear-gradient(rgba(254, 104, 0, 0.45),rgba(232, 0, 2, 0.45));
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7vh;
}

div#form {
    width: 25%;
    height: 75%;
    background-color: #FBFBFB;
    border-radius: 20px;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#form div.title {
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div#form div.title div {
    width: 1vw;
    height: 1vw;
    background-color: var(--pallete_pink);
    border-radius: 99px;
}

div#form div.title h3 {
    font-family: 'Inter', sans-serif;
    color: var(--pallete_cyan);
    text-transform: uppercase;
    margin-left: 1vw;
    font-size: 2rem;
    font-weight: 500;
}

div#form input, div#form textarea {
    font-style: italic;
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    font-size: 1.2rem;
}

div#form textarea{
    max-height: 40%;
    min-height: 40%;
    height: 40%;
    border-radius: 5px;
    padding: 5%;
    background-color: #F1ECEC;
}

div#form button {
    background: linear-gradient(to right,#0083FB,#53ABFD);
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 500;
    width: 20%;
    height: 7%;
    border: none;
    margin-top: 2vh;
    margin-left: 50%;
}

section#contato img {
    height: 80%;
    position: relative;
    bottom: -7vh;
    left: -6vw;
}

/* Estilização do Footer */

footer {
    display: flex;
    flex-direction: row;
    /* padding: 0 5% 5% 5%; */
    padding-top: 5%;
    margin: 0 5% 2% 5%;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--pallete_black);
}

footer div.logomarca {
    background-image: url(../images/logooo.png);
    height: 10vh;
    width: 10vw;
    background-size: contain;
}

div.footer_link ul li a {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 1.8rem;
}