ul{
    list-style: none;
    padding-left: 0px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
}

.produtos_area{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
