*{
    /* border: solid black 1px; */
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

#logo-apple{
    width: 40px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1px;
    gap: 5px;
}

#Imagem1{
    display: flex;
    justify-content: center;
    background: url("/Imagens/background.jpg");
    width: 100%;
    height: 60vh;
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-25px)
	}
}

#wave{
     animation: float 5s ease-in-out infinite;
}


#form{
    display: flex;
    flex-direction: column;
}

#form-top{
    display: flex;
    flex-direction: row;
    gap: 1%;
}

#form-main{
    display: flex;
    flex-direction: column;
}

#form-bottom{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5%;
}

textarea#txtAssunto{
    outline: none;
    border: none;

}

#footer{
    display: flex;
    flex-direction: row;
}

#footer-aside{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 30%;
    gap: 5%;
    text-wrap: nowrap;
}
