ul{
    list-style: none;
    padding-left: 0px;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
}